.titleBar {
  background-color: #de1b85;
  display: block;
  color: #82de3a;
  padding-left: 16px;
}

.btn {
  background: #ea2340;
  color: #f5eee6;
  border: none;
  padding: 5px 9px;
  border-radius: 50%;
  float: right;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
